.logo {
  width: 70px;
  height: 70px;
}

.brand-text {
  margin-top: 22px;
  font-size: 12px;
  font-weight: 600;
}

.search-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #a9c5be;
  padding: 5px 10px;
  margin: 10px 15px 0 0;
  background-color: transparent;
}

.icon {
  font-size: 22px;
  margin-top: 10px;
  cursor: pointer;
}
