.image {
  width: 150px;
  height: 190px;
  margin: 0 25px 0 25px;
}

.card {
  width: 200px;
  height: 380px;
  box-shadow: 1px 4px 3px lightgray;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.card:hover {
  box-shadow: 1px 4px 3px rgb(86, 82, 82);
  transition: all 0.5s;
  cursor: pointer;
}

.details-button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(118, 162, 197);
  color: #fff;
}

.details-button:hover {
  background-color: rgb(146, 196, 239);
  transition: all 0.5s;
}
