.pro-details {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: arial;
}

.price {
  font-size: 40px;
  font-weight: bold;
  color: #a9c5be;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.icons {
  font-size: 40px;
  margin-top: 25px;
  color: #7a828c;
}

span {
  font-size: 35px;
  padding: 10px;
  color: #68717c;
  margin-top: 25px;
}

.add-basket {
  width: 180px;
  border: none;
  padding: 10px;
  background-color: #a9c5be;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
